@import "assets/styles/main";

.landing {
	background: $landingPage-background;
	transition: background 12s;

	&__appointment {
		@include flex($align: center, $justify: center, $direction: row);
		gap: 45px;
		margin: 144px 0;
	}

	&__main {
		&-info {
			flex: 0 1 320px;
		}
		&-title {
			color: $landingPage-main-title-color;
			margin-bottom: 24px !important;
			transition: all 0.5s ease-out;
		}

		&-about {
			display: block;
			color: $landingPage-main-info-color;
			margin-bottom: 48px !important;
			text-align: justify;
			transition: all 0.5s ease-out;
		}
	}

	&__features {
		@include flex($align: flex-start, $justify: center, $direction: column);
		gap: 48px;
		text-align: justify;
		flex: 0 1 364px;

		& div {
			@include flex($align: center, $justify: center, $direction: row);
			gap: 20px;

			& span {
				color: $landingPage-main-features-color;
				transition: all 0.5s ease-out;
			}

			&::before {
				height: 32px;
				content: url("~assets/icons/feature.svg");
				filter: $landingPage-main-features-icon-color;
			}

			&:hover::before {
				animation-name: hittingAnArrow;
				animation-fill-mode: forwards;
				animation-duration: 0.15s;
			}
		}
	}

	&__benefits {
		margin-bottom: 144px;

		&-title {
			margin-bottom: 24px !important;
			color: $landingPage-main-title-color;
			transition: all 0.5s ease-out;
		}

		&-row {
			display: grid;
			grid-gap: 32px;
			grid-template-columns: minmax(200px, 1fr) 256px 256px;
			height: 450px;
		}

		&__info {
			padding: 24px 24px 0 24px;

			& p {
				font-family: "Stolzl";
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 34px;
				letter-spacing: 0.0025em;
				color: $landingPage-header-nav-elements-color;
				transition: all 0.5s ease-out;
			}
		}
	}

	&__team,
	&__tracking,
	&__calendar {
		@include flex($align: center, $justify: flex-start, $direction: column);
		position: relative;
		filter: drop-shadow(4px 4px 8px rgba(11, 33, 92, 0.75));
		height: 100%;

		& img {
			position: absolute;
			bottom: 0;
		}
	}

	&__team {
		background: $landingPage-team-block-background;
		transition: all 0.5s ease-out;
	}

	&__tracking,
	&__calendar {
		background: $landingPage-tracking-block-background;
		transition: all 0.5s ease-out;
	}

	& .left,
	& .right {
		@include flex($align: center, $justify: center, $direction: row);
		width: 64px;
		height: 64px;
		border-radius: 50px;
		background: $landingPage-header-nav-elements-color;
		filter: drop-shadow(4px 4px 8px rgba(11, 57, 84, 0.25));
		cursor: pointer;
		transition: all 0.5s ease-out;
		z-index: 101;

		& img {
			filter: $landingPage-reviews-nav-icon-color;
			user-select: none;
		}

		&:hover {
			background: $lightBlue;
		}

		&:active {
			background: $lightBlue;
			box-shadow: inset 0px 0px 8px rgba(32, 5, 104, 0.25);
			filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));

			& img {
				filter: $landingPage-reviews-click-nav-icon-color;
			}
		}

		&::after {
			display: none;
		}
	}

	& .left {
		transform: rotate(-180deg);
	}

	&__reviews {
		@include flex($align: center, $justify: center, $direction: column);

		&-title {
			color: $landingPage-main-title-color;
			text-align: center;
			margin-bottom: 48px !important;
			transition: all 0.5s ease-out;
			width: 60%;
		}
	}

	&__carousel {
		@include flex($align: center, $justify: space-between, $direction: row);
		width: 100%;
		margin-bottom: 80px;
	}

	&__review {
		filter: $landingPage-review-shadow;
		border-radius: 20px;
		width: 256px;
		background: $landingPage-reviews-background;
		transition: all 0.5s ease-out;

		&__header {
			@include flex($align: center, $justify: flex-start, $direction: row);
			gap: 16px;
			background: $landingPage-reviews-header-background;
			border-radius: 20px 20px 0px 0px;
			padding: 16px;
			transition: all 0.5s ease-out;

			& img {
				width: 48px;
				height: 48px;
			}

			& div {
				@include flex($align: flex-start, $justify: center, $direction: column);
			}
		}

		&__content {
			@include flex($align: center, $justify: center, $direction: column);
			padding: 24px 16px;
			text-align: justify;
			color: $landingPage-reviews-text-color;
			transition: all 0.5s ease-out;
		}
	}

	&__invitation {
		padding: 24px 0;
		@include flex($align: center, $justify: center, $direction: row);
		gap: 62px;
		background: $landingPage-tracking-block-background;
		transition: all 0.5s ease-out;

		&-title {
			font-weight: 500;
			margin-bottom: 48px !important;
			color: $landingPage-header-nav-elements-color;
			transition: all 0.5s ease-out;
		}
	}

	&__questions {
		@include flex($align: center, $justify: center, $direction: column);

		&-title {
			color: $landingPage-main-title-color;
			text-align: center;
			margin-bottom: 48px !important;
			transition: all 0.5s ease-out;
		}
	}

	&__question {
		width: 72%;

		& .MuiButtonBase-root img {
			filter: $landingPage-reviews-nav-icon-color;
		}

		&-title,
		&-info {
			color: $landingPage-main-title-color;
			transition: all 0.5s ease-out;
		}
	}
}

@keyframes hittingAnArrow {
	0% {
		content: url("~assets/icons/feature.svg");
	}
	50% {
		content: url("~assets/icons/feature-hover-2.svg");
	}
	100% {
		content: url("~assets/icons/feature-hover.svg");
	}
}

.swiper {
	&::after {
		content: "";
		width: 60px;
		height: 65%;
		position: absolute;
		top: 55px;
		left: -15px;
		background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, $landingPage-swiper-sides-shadow-color 90%);
		will-change: opacity;
		pointer-events: none;
		z-index: 100;
	}
	&::before {
		content: "";
		width: 60px;
		height: 65%;
		position: absolute;
		top: 55px;
		right: -10px;
		background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0) 0%,
			$landingPage-swiper-sides-shadow-color 90%
		);
		will-change: opacity;
		pointer-events: none;
		z-index: 100;
	}
	&-slide {
		width: 256px !important;
		margin-right: 25px;
		border-radius: 20px;

		&-active {
			transform: none !important;
		}
	}

	&-pagination {
		position: relative;
		margin-top: 20px;
	}
}
