@import "assets/styles/mixins";
@import "assets/styles/consts";

.navigation {
	width: 256px;
	background: $darkBlue;
	box-shadow: 0px 4px 8px 4px rgba(12, 4, 36, 0.25);

	&__header {
		@include flex($align: center, $justify: center, $direction: column);
		gap: 16px;
		padding: 30px 24px;
		text-align: center;
		border-bottom: 3px solid $darkYellow;

		& div {
			width: 64px;
			height: 64px;
			border-radius: 50px;
		}
	}

	&__user-info {
		@include flex($align: center, $justify: flex, $direction: column);
		gap: 4px;
	}

	&__actions {
		padding: 40px 0 48px 12px;

		&-user {
			@include flex($align: flex-start, $justify: center, $direction: column);
			gap: 28px;
		}
	}

	&__add-goal {
		@include flex($align: flex-start, $justify: flex-start, $direction: row);
		cursor: pointer;
		gap: 16px;
		padding: 0 12px;
		width: auto;
		transition: 0.3s;

		&::before {
			content: url("~assets/icons/add.svg");
		}

		&:hover,
		&.choosen {
			color: $lightBlue;

			&::before {
				filter: invert(14%) sepia(24%) saturate(4477%) hue-rotate(199deg) brightness(90%) contrast(100%);
			}
		}
	}

	&__pages {
		@include flex($align: flex-start, $justify: flex, $direction: column);
		gap: 15px;
		margin-bottom: 115px;
	}

	&__link {
		@include flex($align: flex-start, $justify: flex-start, $direction: row);
		cursor: pointer;
		padding: 10px 12px;
		gap: 16px;
		width: 55%;
		transition: all 0.5s;
		border-radius: 12px;

		&:hover,
		&.choosen {
			background: $darkYellow;
			box-shadow: 0px 6px 4px rgba(10, 23, 83, 0.4);
			width: 100%;

			& span {
				color: $darkPurple;
			}

			& img {
				filter: invert(30%) sepia(12%) saturate(7474%) hue-rotate(206deg) brightness(55%) contrast(103%);
			}
		}
	}

	&__settings,
	&__log-out {
		@include flex($align: flex-start, $justify: flex-start, $direction: row);
		cursor: pointer;
		gap: 16px;
		padding: 0 12px;
		width: auto;
		transition: 0.3s;

		&:hover,
		&.choosen {
			color: $lightBlue;

			&::before {
				filter: invert(55%) sepia(90%) saturate(252%) hue-rotate(191deg) brightness(101%) contrast(98%);
			}
		}
	}

	&__settings::before {
		content: url("~assets/icons/settings.svg");
	}

	&__log-out::before {
		content: url("~assets/icons/logOut.svg");
	}
}
