@import "assets/styles/mixins";
@import "assets/styles/consts";

.goal-icon {
	@include flex($align: center, $justify: center, $direction: row);
	background: $darkBlue;
	border-radius: 12px;
	padding: 6px;
}
