@import "~assets/styles/main.scss";

.create-subgoal {
	@include flex($align: flex-start, $justify: center, $direction: column);
	padding: 16px;
	background: url("~assets/images/tracking-background.svg") center / cover no-repeat;
	border-radius: 12px;
	margin: 20px 0 0 20px;
	animation: showing 0.6s forwards;

	&.close {
		animation: hide 1.2s forwards;
	}

	&__header {
		@include flex($align: center, $justify: center, $direction: row);
		gap: 8px;
		width: 100%;
		margin-bottom: 32px;

		& span {
			color: #0d2569;
		}

		& h4 {
			@include text-ellipsis();
			max-width: 350px;
		}
	}

	&__title {
		@include flex($align: flex-start, $justify: center, $direction: row);
		gap: 12px;
		width: 100%;
		padding-bottom: 40px;
		border-bottom: 2px solid #e29b29;
		margin-bottom: 24px;
		box-sizing: border-box;

		& span {
			@include flex($align: center, $justify: flex-end, $direction: row);
			width: 180px;
		}

		& div {
			width: 100%;
		}

		& input {
			background: #fff6e0;
			border: 1px solid #e29b29;
			border-radius: 8px;
			padding: 0px 8px;
			height: 33px;
			outline: none;
			font-family: "Stolzl";
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.005em;
			color: #0d2569;
			width: 80%;
		}
	}

	&__date {
		@include flex($align: flex-start, $justify: center, $direction: column);
		gap: 12px;
		width: 100%;
		margin-bottom: 40px;

		& span {
			@include flex($align: center, $justify: flex-end, $direction: row);
			width: 180px;
		}

		& div {
			@include flex($align: center, $justify: flex-start, $direction: row);
			gap: 8px;
			width: 100%;
		}

		& .date {
			width: 207px;
			height: 33px;
			background: #fff6e0;
			border: 1px solid #e29b29;
			border-radius: 8px;

			& .MuiInputBase-input {
				font-family: "Stolzl";
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
			}

			& .MuiTouchRipple-root {
				width: inherit;
			}

			& .MuiInputAdornment-root {
				justify-content: flex-end;
				width: 40px;

				& svg {
					fill: #e29b29;
				}
			}

			& .MuiInputBase-root {
				height: 33px;
				border-radius: 8px;
			}

			& fieldset {
				border: none;
				outline: none;
			}
		}
	}

	&__tasks {
		@include flex($align: flex-start, $justify: flex-start, $direction: column);
		gap: 16px;
		margin-bottom: 16px;
		width: 100%;
		overflow-y: auto;
		max-height: 200px;
		padding: 5px 5px 5px 0;

		&::-webkit-scrollbar {
			width: 0.2em;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: lightgrey;
		}

		& .goal-full-task {
			background: #ffefc6;
			box-shadow: 0px 4px 4px rgba(11, 33, 92, 0.25);
			padding: 8px 8px 8px 56px;
			backdrop-filter: blur(8px);
			border-radius: 8px;
			width: 100%;
			box-sizing: border-box;
		}
	}

	&__actions {
		@include flex($align: center, $justify: flex-end, $direction: row);
		align-self: flex-end;
		gap: 24px;
	}
}
