$darkYellow: #FFD260;
$lightYellow: #FFEFC6;
$muchLightYellow: FFF6E0;
$darkBlue: #0B215C;
$midBlue: #0D2569;
$blue: #2647AC;
$lightBlue: #8EA6FC;
$darkPurple: #200568;
$black: #000000;
$brown: #E29B29;
$main-linear-gradient: linear-gradient(360deg, #012075 0%, #2647ac 33.65%, #012075 68.54%, #0b215c 99.99%);
