$landingPage-background: var(--landingPage-background);
$landingPage-header-background: var(--landingPage-header-background);
$landingPage-themeToggle-icon: var(--landingPage-themeToggle-icon);
$landingPage-header-logo-color: var(--landingPage-header-logo-color);
$landingPage-header-logo-icon-color: var(--landingPage-header-logo-icon-color);
$landingPage-header-nav-elements-color: var(--landingPage-header-nav-elements-color);
$landingPage-main-title-color: var(--landingPage-main-title-color);
$landingPage-main-info-color: var(--landingPage-main-info-color);
$landingPage-main-features-color: var(--landingPage-main-features-color);
$landingPage-main-features-icon-color: var(--landingPage-main-features-icon-color);
$landingPage-team-block-background: var(--landingPage-team-block-background);
$landingPage-tracking-block-background: var(--landingPage-tracking-block-background);
$landingPage-reviews-header-background: var(--landingPage-reviews-header-background);
$landingPage-reviews-background: var(--landingPage-reviews-background);
$landingPage-reviews-text-color: var(--landingPage-reviews-text-color);
$landingPage-reviews-nav-icon-color: var(--landingPage-reviews-nav-icon-color);
$landingPage-reviews-click-nav-icon-color: var(--landingPage-reviews-click-nav-icon-color);
$landingPage-review-shadow: var(--landingPage-review-shadow);
